<div ng-if="errors.length &gt; 0">
  <p ng-bind="error" ng-repeat="error in errors"></p>
</div>
<div ng-if="errors.length == 0">
  <div class="row listActionsPanel" ng-if="showActions.listActions">
    <div class="listActions" ng-if="rowState() !== &#39;confirmation&#39;">
      <span ng-repeat="action in listActions"><a class="btn" ng-class="actionCssClass(action)" ng-click="doAction($event, action, row)" ng-href="{{actionUrl(action)}}" target="_blank">{{ action.title | i18n }}</a>&nbsp;</span>
    </div>
    <div class="action-confirmation-block" ng-if="rowState() == &#39;confirmation&#39;">
      <span class="question" ng-bind="rowConfirmation().text"></span><a class="btn btn-danger btn-xs" ng-click="doAction($event, rowAction(), null, true)" ng-href="{{actionUrl(rowAction())}}" target="_blank">{{ rowConfirmation().yesText || 'sure' | i18n }}</a>&nbsp;<button class="btn btn-default btn-md" ng-click="cancel()">{{ rowConfirmation().noText || 'cancel' | i18n }}</button>
    </div>
  </div>
  <div class="row new-item-block" ng-include="newRowTpl()"></div>
  <br />
  <div class="row items-list">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th ng-class="{&#39;clickable&#39;: !column.notSortable}" ng-click="dataSource.sortBy(column.fieldId)" ng-repeat="column in columns" width="{{column.width || &#39;*&#39;}}">
              <span class="icon" ng-class="{ordered: dataSource.isOrderedByField(column.fieldId), reverse: dataSource.sortingInfo().desc}" ng-if="!column.notSortable"></span><span ng-bind="column.title | i18n : column.prefix"></span>
            </th>
            <th ng-show="showActions">
              {{'actions' | i18n}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-include="rowTpl(row)" ng-repeat="row in dataSource.filteredRows()"></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
