<td ng-if="multiSelect.enabled">
  <input ng-click="checkAllRowsSelected()" ng-model="multiSelect.selectedRows[rowId(row)]" type="checkbox" />
</td>
<td ng-include="cellTpl(column)" ng-repeat="column in columns"></td>
<td class="actions" ng-if="showActions.rowActions">
  <div class="action-block" ng-show="rowState(row) !== &#39;confirmation&#39;">
    <span ng-repeat="action in rowActions"><a class="btn" ng-class="actionCssClass(action)" ng-click="doAction($event, action, row)" ng-disabled="actionDisabled(action, row)" ng-href="{{actionUrl(action, row)}}" ng-show="actionShowed(action, row)" target="_blank">{{ action.title | i18n }}</a>&nbsp;</span>
  </div>
  <div class="action-confirmation-block" ng-if="rowState(row) == &#39;confirmation&#39;">
    <span class="question" ng-bind="rowConfirmation(row).text"></span><a class="btn btn-danger btn-xs" ng-click="doAction($event, rowAction(row), row, true)" ng-href="{{actionUrl(rowAction(row), row)}}" target="_blank">{{ rowConfirmation(row).yesText || 'sure' | i18n }}</a>&nbsp;<button class="btn btn-default btn-md" ng-click="cancel(row)">{{ rowConfirmation(row).noText || 'cancel' | i18n }}</button>
  </div>
</td>
