<div ng-controller='HomeCtrl'>	
	<h2 class="page-header">Phones</h2>
  
  <form name="search-phone">
    <label>Name:
      <input name="phoneName" ng-model="filter.name">
    </label>
    <label>Age:
      <input name="phoneAge" ng-model="filter.age">
    </label>
    <button name="clear-filters" ng-click="ds.clearFilter()">Clear filters</button>
  </form>

  <h3>Phones list</h3>
  
  <div class="row">
    <div class="col-lg-10"> 
      <vvv-crud-list data-options="listOptions" data-source="ds"></vvv-crud-list>
      <vvv-pagination data-source="ds" data-options="{maxPages: 20, showInfo: true}"></vvv-crud-list>
    </div>
    <div class="col-lg-10" ng-show="selectedRows && selectedRows.length > 0"> 
      <h3>Selected rows</h3>
      <div>{{selectedRows}}</div>
    </div>
  </div>
  
</div>